.nav{
    background-color: darkred;
    padding:5px;
    text-align: right;
}
.nav a{
  
   color: white;
   text-align: right;
}
.nav li{
   
    text-decoration: underline;
    padding: 10px;
    display: inline;
  
    
}